/**
 * Layout Common
 */

html, body {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Lora', Georgia, serif;
  font-weight: 400;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

@media screen and (min-width: 940px) {
  main {
    padding: 0 2rem;
  }

  header {
    padding: 0 2rem;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  background-color: #C5CAE9;
  padding: 0 20px;
}

header h1 {
  font-size: 2rem;
}

header h1 a {
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

section.hero {
  max-width: 768px;
  margin: auto;
  font-size: 1.7777rem;
  line-height: 2.6666rem;
}

section.blog, section.blag {
  padding-top: 1rem;
}

section.newsletter {
  text-align: center;
  margin: 0 auto;
}

.revue-form-group label,
.revue-form-group input {
  display: inline-block;
  margin-bottom: 0.5rem;
}

section.newsletter input#member_submit {
  background-color: #C5CAE9;
  border: 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

section.newsletter input#member_submit:hover {
  cursor: pointer;
}

.contact p {
  font-size: 1.2222rem;
}

.contact h3 {
  font-size: 1.5555rem;
  font-family: 'Merriweather', Georgia, serif;
}

.posts ul {
  text-align: center;
  margin-bottom: 1em;
  padding: 0;
}

.posts li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.posts h3 {
  text-align: center;
}

article {
  max-width: 768px;
  margin: auto;
  font-size: 1.1666rem;
  line-height: 1.8333rem;
}

#post blockquote {
  font-style: italic;
}

article img {
  width: 100%;
}

.license {
  width: 80px;
  margin: auto;
  text-align: center;
}

.caption {
  text-align: center;
  font-size: 0.7777rem;
  margin-top: 0;
}

.profile-photo img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: rgb(244,143,177);
  background: linear-gradient(0deg, rgba(244,143,177,1) 20%, rgba(206,147,216,1) 80%);
}