/**
 * Layout Common
 */

/* One rhythm unit is 20px * 1.5 = 30px */
html, body {
  width: 100%;
  font-size: 20px;
  line-height: 1.5rem;
  font-family: 'Mallory-MP', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #212121;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  /* background-image: url(/images/rhythm.png); */
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

@media screen and (min-width: 940px) {
  main {
    padding: 0 2rem;
  }

  header {
    padding: 0 2rem;
  }
}

main h2 {
  font-size: 1.777rem;
  line-height: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 1.5rem 0;
}

header h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin: 0;
}

header h1 a {
  text-decoration: none;
}

footer {
  /* background-image: url(/images/rhythm.png); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1.5rem 20px;
  background-color: #212121;
}

section.newsletter {
  color: #ffffff;
  margin-bottom: 2rem;
}

@media screen and (min-width: 940px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  section.newsletter {
    padding-left: 2rem;
    margin-bottom: 0;
  }

  section.social-icons {
    padding-right: 2rem;
  }
}

p {
  margin-top: 1.5rem;
}

section.hero {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

section.blog, section.blag {
  margin-top: 1rem;
}

section.blog h3, section.blag h3 {
  font-family: 'Empirica', Georgia, serif;
}

section.blog h3 {
  margin-top: 2.4rem;
}

.revue-form-group label,
.revue-form-group input {
  display: inline-block;
  margin-bottom: 0;
}
.revue-form-group label {
  margin-bottom: 0.75rem;
}

section.newsletter input#member_email {
  padding: 0.75rem;
  line-height: 1.5rem;
  border: 0;
  background-color: #ffffff;
}

section.newsletter input#member_submit {
  padding: 0.75rem;
  line-height: 1.5rem;
  border: 0;
  background-color: #5E35B1;
  color: #ffffff
}

section.newsletter input#member_submit:hover {
  cursor: pointer;
  background-color: #673AB7;
}

.contact p {
  font-size: 1.2222rem;
}

.contact h3 {
  font-size: 1.5555rem;
  font-family: 'Empirica', Georgia, serif;
}

.posts ul {
  text-align: center;
  margin-bottom: 1em;
  padding: 0;
}

.posts li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.posts h3 {
  text-align: center;
}

.post-title {
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.post-date {
  line-height: 0.75rem;
  font-size: 0.75rem;
}

article {
  max-width: 35rem;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.5rem;
}

article h2 {
  font-family: 'Empirica', Georgia, serif;
}

#post blockquote {
  font-style: italic;
}

article img {
  width: 100%;
}

.license {
  width: 80px;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
}

.caption {
  text-align: center;
  font-size: 0.7777rem;
  margin-top: 0;
}