/**
 * Common
 */

html,body {
  color: #000;
  background-color: #FAFAF7;
}

a {
  font-weight : normal;
  text-decoration : none;
  color: #05b;
}

a:hover {
  color: #009EDB;
}

a:active {
  color: #000;
}

header .shawnprice {
  font-size: 2em;
}

header .rodman {
  border: 0;
}

.top-bar {
  background-color: #009EDB;
}

h1,
.posts li {
  font-family: 'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.143;
  margin-bottom: .5em;
}

