$bgcolor: #FAFAF7;
$underlineColor: #1565C0;
$underlineHeight: 1px;
$selectionColor: #1E88E5;
$linkColor: #263238;
$underlineHeightHover: 3px;
$headingColor: #0D47A1;
$sansSerif: "'Mallory-MP'", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: 'Empirica', Georgia, serif;
$bodyType: 'Empirica', Georgia, serif;

/**
 * Common SCSS
 */

section.hero h2 {
  font-family: $bodyType;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: 400;
}

@media screen and (min-width: 940px) {
  section.hero h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

h1 {
  font-size: 2.3333rem;
  line-height: 3rem;
  font-family: $serif;
}

.amp {
  font-size: 1.1em;
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}

.hero .amp {
  font-weight: 500;
}

.number {
  font-size: 0.9em;
  font-style: italic;
  white-space: nowrap;
}

.small {
  font-size: 0.8em;
}

a, a:visited {
  color: $linkColor;
}

a:hover {
  color: $headingColor;
}

.social-icons {
  font-size: 1.5555rem;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin-right: 20px;
  color: #ffffff;
}

.social-icons a:last-of-type {
  margin-right: 0;
}

.footer-links {
  margin-bottom: 1rem;
}

@media screen and (min-width: 940px) {
  .footer-links {
    margin-bottom: 0;
  }
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.home-link a {
  text-decoration: none;
}

.sr-only {
  display: none;
}

.highlighter-rouge {
  background-color: #eee;
}

pre.highlight {
  white-space: pre-wrap;
  padding: 0.5555rem;
}

.twitter-comments {
  margin-top: 2rem; // includes padding of .twitter-comments a
}

.twitter-comments a {
  background-color: #5E35B1;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

.twitter-comments a:hover {
  background-color: #673AB7;
}

/* Contact Form */
form.fte, form.fte input, form.fte textarea, form.fte select, form.fte .fte-ckrad{font-size:16px;color:#222;font-family:verdana,sans-serif;line-height:1.3em;border-radius:0;outline:none;box-sizing:border-box;-webkit-text-size-adjust:100%;}    
form.fte{max-width:600px;padding:0;margin:2em auto;}
form.fte input, form.fte textarea, form.fte select, form.fte .fte-ckrad label{color:#666;background:#fff;border:1px solid #ccc;width:100%;padding:15px 20px;margin:15px 0 30px;transition: all .2s;}
form.fte input[type="text"], form.fte input[type="submit"], form.fte textarea{-webkit-appearance:none;}
form.fte input[type="submit"]{background:#444;color:#fff;padding:18px 28px;width:auto;border-radius:0.5rem;cursor:pointer;border:none;margin:0;white-space:normal;}
form.fte input[type="submit"]:hover{background:#666;}
form.fte input:focus, form.fte textarea:focus, form.fte select:focus{border-color:#999;}
form.fte select{-moz-appearance: none; -webkit-appearance: none; background: #fff url("data:image/gif;base64,R0lGODlhCgAFAJEAAGZmZv///////wAAACH5BAEHAAIALAAAAAAKAAUAAAIKhI+CKboNGWxmFgA7") no-repeat right 20px center;padding-right:20px;cursor:pointer;}   
form.fte input[type="file"] {line-height:1em;font-size:1em;padding:10px;}
form.fte .fte-ckrad, .g-recaptcha{margin-bottom:30px;}
form.fte .fte-ckrad label{cursor:pointer;padding:0;margin:15px 0 0 1em;background:none;border:none;display:inline-block;width:auto;position:relative;}
form.fte .fte-ckrad input{width:auto;margin:.5em 0 .5em .5em;cursor:pointer;display:inline-block;opacity:0;}
form.fte .fte-ckrad input[type="radio"] + label::before{content:'';display:block;height:1.2em;width:1.2em;border:1px solid #ccc;border-radius:1em;position:absolute;left:-2em;top:0;background:#fff;box-shadow:inset 0px 0px 0px .3em #fff;transition: all .2s;}
form.fte .fte-ckrad input[type="radio"]:checked + label::before{ background:#666;}
form.fte .fte-ckrad input[type="checkbox"] + label::before{content:'\2713';display:block;height:1.2em;width:1.2em;border:1px solid #ccc;position:absolute;left:-2em;top:0;background:#fff;color:#fff;text-align:center;transition: all .2s;}
form.fte .fte-ckrad input[type="checkbox"]:checked + label::before{color:#666;}
form.fte input[type="file"] {line-height:1em;font-size:1em;padding:0;border:none;cursor: pointer;}
form.fte .credit{font:10px arial;float:right;color:#999;margin-top:22px;}
form.fte .credit a{color:#999;}