<!DOCTYPE html>
<html lang="en" {% if page.layout == "post" %}itemscope itemtype="http://schema.org/Article"{% endif %}>

<head>
  <meta charset='utf-8' />
  <title>
    {% if site.title == page.title %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Shawn Price" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.layout == "post" %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@sprice" />
  <meta name="twitter:creator" content="@sprice" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
  {% if page.hero_image_small_url %}
  <meta property="twitter:image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  {% endif %}
  {% if page.hero_image_alt %}
  <meta property="twitter:image:alt" content="{{ page.hero_image_alt }}" />
  {% endif %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:description" content="{{ page.description}} " />
  {% if page.hero_image_small_url %}
  <meta property="og:image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  <meta property="og:image:width" content="{{ page.hero_image_small_width }}" />
  <meta property="og:image:height" content="{{ page.hero_image_small_height }}" />
  {% if page.hero_image_alt %}
  <meta property="og:image:alt" content="{{ page.hero_image_alt }}" />
  {% endif %}
  {% endif %}
  <meta property="og:type" content="article" />

  <meta itemprop="name" content="{{ page.title }}" />
  <meta itemprop="description" content="{{ page.description }}" />
  <meta itemprop="author" content="{{ site.author.name }}" />
  <meta itemprop="datePublished" content="{{ page.date }}" />
  <meta itemprop="dateModified" content="{{ page.date }}" />
  <meta itemprop="mainEntityOfPage" content="{{ page.url | prepend: site.url }}" />
  <meta itemprop="headline" content="{{ page.description }}" />
  <meta itemprop="publisher" content="{{ site.author.name }}" />
  {% if page.hero_image_small_url %}
  <meta itemprop="image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  {% endif %}

  {% endif %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

  <!-- Styles -->
  <link rel="stylesheet" href="/dist/styles.min.css" />
</head>

<body>
  <div class="top-bar"></div>

  <div class="container">
    {{ content }}

    <p class="social-icons">
        <a href="https://twitter.com/sprice" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>
        <a href="https://ca.linkedin.com/in/shawnprice" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i><span class="sr-only">LinkedIn</span></a>
        <a href="https://github.com/sprice" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true" title="GitHub"></i><span class="sr-only">GitHub</span></a>
        <a href="tel:+18552774296" aria-label="Phone"><i class="fa fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></a>
        <a href="{{ site.url }}/atom.xml" aria-label="Atom Feed"><i class="fa fa-rss" aria-hidden="true" title="Atom Feed"></i><span class="sr-only">Atom Feed</span></a>
    </p>
  </div>
  {% if jekyll.environment == "production" %}
    <script src="/js/scripts.js"></script>
  {% endif %}
</body>

</html>