<!DOCTYPE html>
<html lang="en" {% if page.layout == "post" %}itemscope itemtype="http://schema.org/Article"{% endif %}>

<head>
  <meta charset='utf-8' />
  <title>
    {% if site.title == page.title %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Shawn Price" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.layout == "post" %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@sprice" />
  <meta name="twitter:creator" content="@sprice" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
  {% if page.hero_image_small_url %}
  <meta property="twitter:image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  {% endif %}
  {% if page.hero_image_alt %}
  <meta property="twitter:image:alt" content="{{ page.hero_image_alt }}" />
  {% endif %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:description" content="{{ page.description}} " />
  {% if page.hero_image_small_url %}
  <meta property="og:image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  <meta property="og:image:width" content="{{ page.hero_image_small_width }}" />
  <meta property="og:image:height" content="{{ page.hero_image_small_height }}" />
  {% if page.hero_image_alt %}
  <meta property="og:image:alt" content="{{ page.hero_image_alt }}" />
  {% endif %}
  {% endif %}
  <meta property="og:type" content="article" />

  <meta itemprop="name" content="{{ page.title }}" />
  <meta itemprop="description" content="{{ page.description }}" />
  <meta itemprop="author" content="{{ site.author.name }}" />
  <meta itemprop="datePublished" content="{{ page.date }}" />
  <meta itemprop="dateModified" content="{{ page.date }}" />
  <meta itemprop="mainEntityOfPage" content="{{ page.url | prepend: site.url }}" />
  <meta itemprop="headline" content="{{ page.description }}" />
  {% if page.hero_image_small_url %}
  <meta itemprop="image" content="{{ page.hero_image_small_url | prepend: site.url }}" />
  {% endif %}

  {% endif %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}" />
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/dist/styles.min.css" />
</head>

<body>
  <header>
    <section>
      <h1><a href="/">SHAWN PRICE</a></h1>
    </section>
  </header>
  <main>

    {{ content }}

  </main>
  <footer>
    <section class="newsletter">
      <div id="revue-embed">
        <form action="https://www.getrevue.co/profile/shawnprice/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <label for="member_email">Please subscribe to the email newsletter</label><br />
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
          <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
        </form>
      </div>
    </section>
    <section class="social-icons">
      <a href="https://twitter.com/sprice" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>
      <a href="https://instagram.com/spriceless" aria-label="Instagram"><i class="fab fa-instagram" aria-hidden="true" title="Instagram"></i><span class="sr-only">Instagram</span></a>
      <a href="https://ca.linkedin.com/in/shawnprice" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i><span class="sr-only">LinkedIn</span></a>
      <a href="/contact" aria-label="Contact"><i class="fa fa-envelope" aria-hidden="true" title="Contact"></i><span class="sr-only">Contact</span></a>
      <a href="{{ site.url }}/atom.xml" aria-label="Atom Feed"><i class="fa fa-rss" aria-hidden="true" title="Atom Feed"></i><span class="sr-only">Atom Feed</span></a>
    </section>
  </footer>

  {% if jekyll.environment == "production" %}
    <script src="/js/scripts.js"></script>
  {% endif %}

</body>

</html>