<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8' />
  <title>
    {% if site.title == page.title %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Shawn Price" />
  <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml" />
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "dist/styles.min.css" | cdn }}" media="screen" />
</head>

<body>
  <div class="top-bar"></div>

  <div class="container">
    {{ content }}

    <p class="social-icons">
        <a href="https://twitter.com/sprice" aria-label="Twitter"><i class="fab fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a>
        <a href="https://ca.linkedin.com/in/shawnprice" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i><span class="sr-only">LinkedIn</span></a>
        <a href="https://github.com/sprice" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true" title="GitHub"></i><span class="sr-only">GitHub</span></a>
        <a href="tel:+18552774296" aria-label="Phone"><i class="fa fa-phone" aria-hidden="true" title="Phone"></i><span class="sr-only">Phone</span></a>
        <a href="{{ site.url }}/atom.xml" aria-label="Atom Feed"><i class="fa fa-rss" aria-hidden="true" title="Atom Feed"></i><span class="sr-only">Atom Feed</span></a>
    </p>
  </div>
  <script src="/js/scripts.js"></script>
  <script>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12752188-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>

</html>