---
layout: default
---
  <header>
    <div></div>
    <div class="profile-photo">
      <img src="/images/shawn@3.png" alt="Shawn Price" />
    </div>
  </header>

  <div class="site">

{{ content }}

  </div>

  {% if site.posts %}
  <div class="posts">
    <h3>Posts</h3>
    <ul>
      {% for post in site.posts %}
        {% if post.layout == "post" %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> - <span class="post-date">{{ post.date | date: "%B %-d,  %Y" }}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}